.Grid-default { flex: 1 }

.Grid-fd-unset { flex-direction: unset; }
.Grid-fd-row { flex-direction: row; }
.Grid-fd-column { flex-direction: column; }
.Grid-fd-row-reverse { flex-direction: row-reverse; }
.Grid-fd-column-reverse { flex-direction: column-reverse; }

.Grid-fjc-unset { justify-content: unset }
.Grid-fjc-center { justify-content: center }
.Grid-fjc-start { justify-content: start }
.Grid-fjc-end { justify-content: end }
.Grid-fjc-stretch { justify-content: stretch }
.Grid-fjc-space-between { justify-content: space-between }
.Grid-fjc-space-around { justify-content: space-around }
.Grid-fjc-space-evenly { justify-content: space-evenly }
.Grid-fjc-unset { justify-content: unset }

.Grid-fas-center { align-self: center }
.Grid-fas-start { align-self: start }
.Grid-fas-end { align-self: end }
.Grid-fas-stretch { align-self: stretch }
.Grid-fas-space-between { align-self: space-between }
.Grid-fas-space-around { align-self: space-around }
.Grid-fas-space-evenly { align-self: space-evenly }