.Card-container {
    align-self: center;
    flex-direction: column;

    background-color: #ffffff;

    width: 250px;
    height: 50px;

    margin: 15px 25px;

    border-radius: 4px;

    -webkit-box-shadow: 2px 2px 3px 0px rgba(51,51,51,0.1);
    -moz-box-shadow: 2px 2px 3px 0px rgba(51,51,51,0.1);
    box-shadow: 2px 2px 3px 0px rgba(51,51,51,0.1);

}

.Card-title {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    height: 42px;
    text-align: center;
    border-bottom: 1px solid #ebebeb;

    font-size: 1.12em;
    font-weight: 500;
    color: #737c84;
}