.CityCard-container {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.CityCard-content {
    height: auto;
}

.CityCard-main {
    min-height: 267px;
}

.CityCard-alt {
    min-height: 222px;
}

@media screen and (max-width: 599px) {
    .CityCard-main {
        order: 1;        
    }
    
    .CityCard-alt {
        order: 2;
    }
}