.CityCardFooter-container {
    flex-direction: column;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 0 0 4px 4px;
}

.CityCardFooter-main {
    min-height: 85px;
}

.CityCardFooter-alt {
    min-height: 40px;
}

.CityCardFooter-updated {
    font-size: 0.65em;
    color: #b4b4b4;
    align-self: center;
}

.CityCardFooter-updated.main {
    align-self: start;
}

.CityCardFooter-row-top {
    flex: 6;
}

.CityCardFooter-row-bottom {
    flex: 4;
}