.CityCardPropDisplay-label {
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 0.72em;
    color: #b4b4b4;
}

.CityCardPropDisplay-value {
    font-size: 1.1em;
    margin-top: 5px;
    color: #737C84;
    align-self: baseline;
}

.CityCardPropDisplay-unity {
    margin-top: 3px;
    font-size: 0.75em;
    color: #737C84;
    align-self: baseline;
}