.Layout-main {
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.Layout-container {
    flex-direction: column;
    justify-content: center;

    background-color: #f1f1f1;

    margin-top: 55px;
    min-height: 835px;
    width: 1025px;

    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(51,51,51,0.1);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(51,51,51,0.1);
    box-shadow: inset 0px 1px 1px 0px rgba(51,51,51,0.1);
}

@media screen and (max-width: 1025px) {

    .Layout-container {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
    }

}

@media screen and (max-width: 599px) {
    .Layout-container {
        min-height: auto;
        justify-content: start;
    }
}